#WelcomePane{
  width: 200px;
  height: 150px;
  background-color: cornflowerblue;
}

ul {
  list-style-type: none;
  margin: 0;padding: 0;

  li {
      background: rgba(206, 221, 230, 0.788);
      padding: 2em;
      border-radius: 4px;
      margin-bottom: 7px;
      display: grid;
      grid-template-columns: 60px auto;

      p {
          font-weight: bold;
          margin-left: 20px;
      }

      img {
          border-radius: 50%;
          width: 100%;
      }
  }
}
